.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 2rem;
}

.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(9, max-content);
  grid-template-rows: repeat(9, max-content);
  box-sizing: content-box;
  width: calc(27em + 10px);
  height: calc(27em + 10px);
  font-family: monospace;
  font-size: 1rem;

  .cell {
    display: grid;
    grid-template-columns: repeat(3, 1em);
    grid-template-rows: repeat(3, 1em);
    box-sizing: content-box;
    width: 3em;
    height: 3em;
    margin: -1px 0 0 -1px;
    background: white;
    border: 1px solid #ccc;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      margin-top: 0;
      border-top-color: #333;
    }

    &:nth-child(9n+1) {
      margin-left: 0;
      border-left-color: #333;
    }

    &:nth-child(73),
    &:nth-child(74),
    &:nth-child(75),
    &:nth-child(76),
    &:nth-child(77),
    &:nth-child(78),
    &:nth-child(79),
    &:nth-child(80),
    &:nth-child(81) {
      border-bottom-color: #333;
    }

    &:nth-child(9n) {
      border-right-color: #333;
    }

    &:nth-child(9n+4),
    &:nth-child(9n+7) {
      border-left-color: #666;
    }

    &:nth-child(27n+1),
    &:nth-child(27n+2),
    &:nth-child(27n+3),
    &:nth-child(27n+4),
    &:nth-child(27n+5),
    &:nth-child(27n+6),
    &:nth-child(27n+7),
    &:nth-child(27n+8),
    &:nth-child(27n+9) {
      border-top-color: #666;
    }

    .number {
      width: 1.2em;
      height: 1.2em;
      border-radius: 2px;
      text-align: center;
      font-size: 0.8em;
      line-height: 1.2em;
      color: #333;

      @for $i from 0 to 9 {
        &[data-number="#{$i + 1}"] {
          grid-column: #{($i % 3) + 1} / span 1;
          grid-row: #{floor($i / 3) + 1} / span 1;
        }
      }
    }

    &--given,
    &--placed {
      .number {
        &[data-number] {
          width: 1.5em;
          height: 1.5em;
          font-size: 2em;
          line-height: 1.5em;
          grid-column: 1 / span 3;
          grid-row: 1 / span 3;
        }
      }
    }

    &--given {
      .number {
        color: black;
      }
    }

    &--placed {
      .number {
        color: blue;
      }
    }

    &--wing {
      background: yellow;
    }

    &--pivot {
      background: orange;
    }

    &--red {
      background: pink;
    }

    &--black {
      background: cornflowerblue;
    }

    @for $i from 1 through 9 {
      &[data-force*="#{$i}"] {
        [data-number="#{$i}"] {
          background-color: green;
          color: white;
        }
      }

      &[data-eliminate*="#{$i}"] {
        [data-number="#{$i}"] {
          color: red;
        }
      }

      &[data-restrict*="#{$i}"] {
        [data-number="#{$i}"] {
          color: green;
          background-color: yellow;
        }
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    pointer-events: none;
    touch-action: none;
    mix-blend-mode: multiply;
  }

  &__endpoint {
    fill: red;
  }

  &__link {
    stroke: red;
    stroke-width: 2px;
    fill: none;

    &--weak {
      stroke-dasharray: 6px;
    }
  }
}
